/*========== COLORS ==========*/
$dark-blue: #0b233d;
$light-blue: #3e5364;
$white: #ffffff;
$grey: #b8c4c1;
$orange: #ec820e;
$light-orange: #ff9929;
$blue: #4285f4;
$blue-hover: #5b99ff;
$red: #ff0f00;
/*========== COLORS ==========*/

