@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }
@import '_variables';
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-color: #{$dark-blue};
    color: #{$white};
    position: relative;
    height: 100vh;
}
body, button, input, textarea, p {
    font-family: Poppins !important;
    font-weight: 500;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    color: #{$white};
    &:hover{
        color: #{$orange}
    }
}

.google_link{
    color: #{$white};
    text-decoration: none !important;
}

/*=========== FONT SIZES =========*/
.fs--11 { font-size: 11px !important }
.fs--13 { font-size: 13px !important; }
.fs--15 { font-size: 15px !important; }
.fs--18 { font-size: 18px !important; }
.fs--20 { font-size: 20px !important; }
.fs--34 { font-size: 34px !important; }
.fs--36 { font-size: 36px !important; }
/*=========== FONT SIZES =========*/

/*============ LINE HEIGHT ===========*/
.line-height--1-73 { line-height: 1.73; }
/*============ LINE HEIGHT ===========*/


/*======= FONT WEIGHT ======*/
.fw--500 { font-weight: 500; }

/*============ MARGINS ============*/
.ma-1 { margin: 0.5rem; }
.ma-1 { margin: 1rem; }
.ma-2 { margin: 2rem; }
.ma-3 { margin: 3rem; }
.ma-4 { margin: 4rem; }
.ma-5 { margin: 5rem; }

.mt-0 { margin-top: 0.5rem; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }
.mt-5 { margin-top: 5rem; }

.mb-0 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }
.mb-5 { margin-bottom: 5rem; }

.mr-0 { margin-right: 0.5rem; }
.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }
.mr-3 { margin-right: 3rem; }
.mr-4 { margin-right: 4rem; }
.mr-5 { margin-right: 5rem; }

.ml-0 { margin-left: 0.5rem; }
.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 2rem; }
.ml-3 { margin-left: 3rem; }
.ml-4 { margin-left: 4rem; }
.ml-5 { margin-left: 5rem; }
/*============ MARGINS ============*/

/*======= PADDING =======*/
.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }
.p-3 { padding: 2rem; }
/*======= PADDING =======*/

/*========== ALIGN TEXT ===========*/
.text-align--center { text-align: center; }
.text-align--left { text-align: left; }
.text-align--right { text-align: right; }
/*========== ALIGN TEXT ===========*/
svg {
    overflow: visible;
}
/*======TEXT COLORS====*/
.white--text { color: #{$white} !important; }
.grey--text { color: #{$grey} !important; }
.orange--text { color: #{$orange} !important; }
.dark-blue--text { color: #{$dark-blue} !important;}
.orange-text--onhover:hover { color: #{$orange} !important;}
/*======TEXT COLORS====*/
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.button {
    background: #{$orange};
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #{white};
    letter-spacing: 0;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 220px;
    height: 60px;
    transition: background .3s ease-in-out;
}
.button:hover{
    background: #{$light-orange};
    box-shadow: 0 3px 24px -3px rgba(255, 153, 41, 0.65);
}
.button svg {
    display: block;
    margin-left: 10px;
    fill: #{$white};
}

.app, .container {
    background: #{$dark-blue};
    color: #{$white};
}
.app{
    //height: 90vh;
}
.wrapper {
    width: 1180px;
    margin: 0 auto;
    max-width: calc(100vw - 60px);
}
.long-form-top-margin{
    margin-top: 2rem;
}
.container-multistep{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round-orange-div{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/*=========== BACKGROUND COLORS ========*/
.dark-blue--bg {
    background-color: #{$dark-blue};
}
.orange--bg {
    background-color: #{$orange};
}
.white--bg {
    background-color: #{$white};
}
.opaque--bg{
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 13px;
    align-items: center;
}
.blue--bg {
    background-color: #{$blue};
}
/*=========== BACKGROUND COLORS ========*/

.opaque--bg {
    padding: 0.7rem !important;
    margin: 0.5rem !important;

    div.flex--1 {
        flex-basis: 1;
    }
}

/*========= GOOGLE BUTTON =========*/
.google_btn{
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    max-height: 74px;
    width: 300px;
    margin: 1rem auto;
    text-align: center;

    .logo_section{
        text-align: center;
        background-color: #{$white};
        border-radius: 8px 0px 0px 8px;
        padding: 1px;
        height: 74px;
    }
    .blue_section{
        text-align: center;
        background-color: #{$blue};
        border-radius: 0px 8px 8px 0px;
        padding: 4px;
        max-height: 74px;
        max-width: 199px;
        font-size: 13px;

        p {
            margin: 1rem;
        }
    }
}
.google_btn:hover{
    opacity: 0.8;
    .blue_section{
        background-color: #{$blue-hover};
    }
}
/*========= GOOGLE BUTTON =========*/

/*==============PROGRESS BAR=============*/

.top-progress{
    position: absolute;
    top:54px;    
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 54px;
    width: 568px;
}

.progress{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
}

.progress__bar {
    width: 100%;
    height: 3px;
    background: #{$light-blue};
    span{
        background: #ec820e;
        display: block;
        height: 3px;
        border-radius: 3px;
    }
}

.progress__points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    top: 0;
    height: 3px;
    left: 0;
    width: 100%;
}

.progress__point{
    width: 5px;
    height: 5px;
    background: #{$dark-blue};
    border: 2px solid #{$light-blue};
    border-radius: 100%;
    box-sizing: content-box;
}

.progress__point.is-previous {
    border-color: #{$orange};
    background: #{$orange};
}

.progress__point.is-active {
    border-color: #{$orange};
    background-color: #{$white};
    width: 7px;
    height: 7px;
}

/*====== STAR RATING ====*/
.star-rating:hover{
    cursor: pointer;
    svg {
        fill: #{$white}
    }
}
/*====== STAR RATING ====*/

/*============= MULTI STEP =============*/
.multistep-step{
    padding-top: 50px;
}

.multistep-step__title {
    font-weight: 500;
    font-size: 36px;
    color: #{$white};
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 10px;
}
.multistep-step__subtitle {
    font-size: 18px;
    color: #{$white};
    letter-spacing: 0;
    text-align: center;
    line-height: 1.61;
    max-width: 600px;
    margin: 0 auto;
}
.multistep-step__content {
    padding-top: 35px;
}
.multistep-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
}

.multistep-selector__option {
    background: #{$white};
    border: 1px solid #{$white};
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    cursor: pointer;
    width: 220px;
    transition: .3s ease-in-out;
    position: relative;
    object-fit: contain;
    border: solid 0 #{$grey};
}
.multistep-selector__option:hover {
    border-color: #{$orange};
    background-color: #{$light-orange};
    box-shadow: 0 3px 24px -3px rgba(255, 153, 41, 0.65);
    color: #{$white};
}
.multistep-selector__option input {
    display: none;
}
.multistep-selector__option span {
    font-size: 15px;
    color: #{$dark-blue};
    letter-spacing: 0;
    text-align: center;
}

.multistep-selector__option:nth-child(n+4) {
    margin-top: 15px;
}

.multistep-selector__option.is-active .validator {
    opacity: 1;
}

.multistep-selector__option .validator {
    width: 25px;
    height: 25px;
    right: -1px;
    top: -1px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background: #{$orange};
    border-top-right-radius: 8px;
    border-bottom-left-radius: 75%;
    text-align: center;
    color: #{$white};
    padding-left: 2px;
    svg{
        fill: #{$white};
        
    }
}

.multistep-step__buttons-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 2rem;
}
.multistep-step .button-back{
    text-decoration: none;
    font-size: 14px;
    color: #{$grey};
    letter-spacing: 0;
    transition: color .3s ease-in-out;
}
.multistep-step .button-back:hover{
    color: #{$orange};
}
.multistep-step .button-back svg {
    margin-right: 10px;
    fill: #{$orange};
}
.multistep-step__buttons-wrap .button {
    min-width: 144px;
    height: 46px;
    font-size: 14px;
    margin-left: 30px;
}

/*============= MULTI STEP =============*/

/*============ TOOL TIP =========*/
.tooltip {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.tooltip__icon{
    border-radius: 4px;
    background: #{$light-blue};
    font-size: small;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        fill: #{$white}
    }
}

.tooltip__icon:hover{
    background-color: #{$white};
    cursor: pointer;
    svg {
        fill: #{$dark-blue}
    }
}

.tooltip__body {
    position: absolute;
    background: #{$white};
    border-radius: 5px;
    color: #{$light-blue};
    padding: 20px 25px 30px;
    bottom: 100%;
    margin-bottom: 10px;
    left: 0;
    margin-left: -135px;
    font-size: small;
    width: 288px;
    p {
        color: #{$dark-blue}!important;
        text-align: left;
    }
}

.tooltip__body::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #{$white} transparent transparent transparent;
  }

.text-small {
    font-size: 11px;
    letter-spacing: 0;
    line-height: 19px;
}
/*============ TOOL TIP =========*/

/*=========== FORM GROUP ========*/
.multistep-step__content>.form-group {
    max-width: 240px;
    margin: 0 auto;    
    color: #{$dark-blue}
}
.form-group__input-wrap {
    background: #{$white};
    border: 1px solid #{$light-blue};
    border-radius: 8px;
    width: 100%;
    height: 55px;
    position: relative;
    transition: border-color .3s ease-in-out;
}
.form-group__input-wrap.is-filled .form-group__currency {
    opacity: 1;
}
.form-group__label{
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
}
.form-group__currency{
    position: absolute;
    left: 0;
    width: 40px;
    text-align: center;
    font-size: 15px;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    line-height: 18px;
    opacity: 0.5 !important;
    pointer-events: none;
}
.form-group__currency+input {
    padding-left: 32px !important;
    font-size: 17px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.form-group input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 8px;
}
.form-group .input-alert {
    width: 25px;
    height: 25px;
    right: -1px;
    top: -1px;
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    pointer-events: none;
}
.form-group__input-wrap.is-invalid .input-alert {
    opacity: 1;
    pointer-events: auto;
}
.form-group__input-wrap.is-valid .input-alert {
    opacity: 1;
}
.form-group .input-alert__indicator {
    width: 100%;
    height: 100%;
    background: #{$red};
    border-top-right-radius: 8px;
    border-bottom-left-radius: 75%;
    text-align: center;
    color: #{$white};
    font-size: 10px;
    line-height: 24px;
    font-weight: 700;
    padding-left: 2px;
    padding-top: 1px;
    cursor: pointer;
    svg{
        fill: #{$white}
    }
}

.is-invalid .input-alert__indicator {
    background: #{$red};
}

.is-valid .input-alert__indicator {
    background: #{$orange};
}

.form-group .input-alert__message {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 14px;
    width: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transform: scale(.8);
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
}
.columned-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


.columned-fields .form-group {
    width: 300px;
    padding-bottom: 0;
    max-width: 100%;
    padding-bottom: 14px;
}
// .form-group:not(:last-child) {
//     padding-bottom: 14px;
// }

/*============FORM INPUT============*/

/*=====  FLEX BOX ====*/
.d-flex {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.flex--1 {
    flex: 1;
}

.d-flex-rows {
    box-sizing: border-box;
    flex: 1;
}

.justify-content--space-between {
    justify-content: space-between;
}
.justify-content--center {
    justify-content: center;
}

.align-items--center{
    align-items: center;
}

/*======= MODAL ==========*/
.popup-modal {
    background-color:rgba(9, 25, 43, 0.8);
    width:      100%;
    height:     100%; 
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;

    .popup-text-section {
        z-index: 41;
        text-align: center;
        width: 620px;
        height: 384px;
        object-fit: contain;
        border-radius: 13px;
        box-shadow: 0 3px 26px 0 rgba(79, 90, 143, 0.08);
    }

}
.x-close-icon:hover{
    opacity: 0.7;
}
// .center-child{
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     div.centered-child {
//       margin: 0 auto;
//       display: inline-block;      
//     }
// }
/*======= MODAL ==========*/



@media only screen and (max-width: 767px){
    body{
        height: 90vh;
        min-height: -webkit-fill-available;
    }
    html{
        height: -webkit-fill-available;
    }
        /*=========== FONT SIZES =========*/
    .fs--11 { font-size: 10px !important }
    .fs--13 { font-size: 14px !important; }
    .fs--15 { font-size: 18px !important; }
    .fs--18 { font-size: 22px !important; }
    .fs--20 { font-size: 26px !important; }
    .fs--34 { font-size: 30px !important; }
    .fs--36 { font-size: 34px !important; }
    /*=========== FONT SIZES =========*/
    .top-progress{
        width: 80%;
    }
    .progress{
        // margin-top: 100px;
    }
   .container-multistep {
        height: 800px;
    } 
    .wrapper {
        max-width: calc(100vw - 40px);
    }
    .progress {
        max-width: calc(100% - 80px);
    }
    .tooltip__body {
        margin-left: -235px;
    }
    .long-form-top-margin{
        margin-top: 150px;
    }
    .multistep-step__title{
        font-size: 24px !important;
    }
    .multistep-step__subtitle {
        max-width: 320px;
        margin: 0 auto;
        font-size: 16px !important;
    }
    .multistep-selector {
        display: block;
        width: 288px;
        margin: 0 auto;
        max-width: 100%;
    }
    
    .multistep-step__content {
        padding-top: 20px;
    }
    .multistep-selector__option {
        width: 100% !important;
        height: 60px;
    }
    .multistep-step__buttons-wrap{
        padding-top: 30px;
    }
    .multistep-selector__option:nth-child(n+2) {
        margin-top: 10px;
    }
    .form-group__currency {
        line-height: 21px;
        font-size: 17px;
    }
    .button {
        font-size: 18px;
    }
    .columned-fields {
        width: 288px;
        max-width: 100%;
        display: block;
    }
    .columned-fields+.text-small {
        text-align: center;
        max-width: 480px;
        margin: 0 auto -20px;
    }
    .google_btn{
        max-height: 74px;
        width: 220px !important;
        margin: 1rem auto !important;
        text-align: center;
    
        .logo_section{
            text-align: center;
            background-color: #{$white};
            border-radius: 8px 0px 0px 8px;
            border: 1px solid #{$white};
        }
        .blue_section{
            flex: 3;
            max-width: 169px;
            padding: 0.4rem;
    
            p {
                margin: 0 !important;
                padding: 0;
            }
        }
    }
    .tooltip__body::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 85%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #{$white} transparent transparent transparent;
      }
     /*======== POP UP MODAL========*/
     .popup-modal{ 
         display: flex;  
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         justify-content: center;
         align-items: center;
    
        .popup-text-section{
            margin: 0 auto;
            margin-left: 2rem;
            width: 85vw;
            height: 380px;
            padding: 0.5rem !important;   
            position: relative;
            justify-content: center;
            align-items: center;
                font-size: 13px;
            p {
                margin: 0.2rem !important;
            } 
        }
    }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1023px) and (min-width: 1200px) and (min-width: 1200px) and (max-width: 1239px){
    .container-multistep {
        height: 620px;
    }
    .wrapper {
        width: 620px;
    }
    .top-progress{
        width: 80%;
    }
    
//     .multistep-selector__option {
//         width: 184px important;
//     }
// }

// @media only screen and (max-width: 1239px){
    
    .long-form-top-margin{
        margin-top: 150px
    }
    .multistep-step__title{
        font-size: 28px;
    }
    .multistep-selector__option span {
        font-size: 13px;
    }
    .multistep-step__content {
        padding-top: 20px;
    }
    .multistep-selector {
        width: 584px;
    }
    .multistep-selector__option {
        width: 184px;
    }
    .form-group .input-alert__message {
        align-items: flex-end;
        left: auto;
        right: -10px;
    }
    .multistep-step__buttons-wrap{
        padding-top: 30px;
    }
    .multistep-step__buttons-wrap .button {
        height: 46px;
        font-size: 14px;
        margin-left: 30px;
    }
    .columned-fields {
        width: 580px;
    }
    .columned-fields .form-group {
        width: 280px;
    }
    .google_btn{
        max-height: 74px;
        min-width: 100% !important;
        margin: 1rem auto !important;
        text-align: center;       
    
        .logo_section{
            text-align: center;
            background-color: #{$white};
            border-radius: 8px 0px 0px 8px;
            border: 1px solid #{$white};
        }
        .blue_section{
            flex: 3;
            max-width: 169px;
            padding: 0.4rem;
    
            p {
                margin: 0 !important;
                padding: 0;
            }
        }
    }
}


