@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '_variables';
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    height: 100vh;
    background-color: #{$dark-blue};
}
a{
    cursor: pointer;
}

/*============ MARGINS ============*/
.ma-1 { margin: 0.5rem; }
.ma-1 { margin: 1rem; }
.ma-2 { margin: 2rem; }
.ma-3 { margin: 3rem; }
.ma-4 { margin: 4rem; }
.ma-5 { margin: 5rem; }

.mt-0 { margin-top: 0.5rem; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }
.mt-5 { margin-top: 5rem; }

.mb-0 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }
.mb-5 { margin-bottom: 5rem; }

.mr-0 { margin-right: 0.5rem; }
.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }
.mr-3 { margin-right: 3rem; }
.mr-4 { margin-right: 4rem; }
.mr-5 { margin-right: 5rem; }

.ml-0 { margin-left: 0.5rem; }
.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 2rem; }
.ml-3 { margin-left: 3rem; }
.ml-4 { margin-left: 4rem; }
.ml-5 { margin-left: 5rem; }
/*============ MARGINS ============*/

/*======= PADDING =======*/
.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }
.p-3 { padding: 2rem; }
/*======= PADDING =======*/


/*======TEXT COLORS====*/
.white--text { color: #{$white} }
.grey--text { color: #{$grey} }
.orange--text { color: #{$orange} }
.dark-blue--text { color: #{$dark-blue} }
.orange-text--onhover:hover { color: #{$orange} }
/*======TEXT COLORS====*/

/*=========== FONT WEIGHT ==========*/
.fw-1 { font-weight: 200; }
.fw-2 { font-weight: 300; }
.fw-3 { font-weight: 500; }
.fw-4 { font-weight: 700; }
.fw-5 { font-weight: 900; }
/*=========== FONT WEIGHT ==========*/

/*========== TOPOGRAPHY =========*/
.header-title {
    font-size: 36px;
}
.header-sub-title {
    font-size: 18px;
    line-height: 29px;
}
.fs--xs {
    font-size: 8px;
}
.fs--sm {
    font-size: 10px;
}
.fs--md {
    font-size: 15px;
}
.fs--lg {
    font-size: 25px;
}
.fs--xl {
    font-size: 35px;
}
/*========== TOPOGRAPHY =========*/

/*========== ALIGN TEXT ===========*/
.text--center { text-align: center; }
.text--left { text-align: left; }
.text--right { text-align: right; }
/*========== ALIGN TEXT ===========*/

/*=========== BACKGROUND COLORS ========*/
.dark-blue--bg {
    background-color: #{$dark-blue};
}
.orange--bg {
    background-color: #{$orange};
}
.white--bg {
    background-color: #{$white};
}
.opaque--bg{
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 13px;
}
.blue--bg {
    background-color: #{$blue};
}
/*=========== BACKGROUND COLORS ========*/

/*=========== BUTTON STYLING =========*/
.btn {
    padding: 1rem 3rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    border: 0;
}
.rounded-btn {
    border-radius: 14px;
}
.btn--orange:hover{
    box-shadow: 0 3px 24px -3px rgba(255, 153, 41, 0.65);
}
/*=========== BUTTON STYLING =========*/

/*=====  FLEX BOX ====*/
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex--1 {
    flex: 1;
}

.d-flex-rows {
    box-sizing: border-box;
    flex: 1;
}

.justify-content--space-between {
    justify-content: space-between;
}
.justify-content--center {
    justify-content: center;
}

.align-items--center{
    align-items: center;
}

.white-form-option-box {
    //min-width: 220px;
    //max-width: 220px;
    height: 74px;
    font-size: 15px;
    margin: 0.5rem;
    padding: 1.5rem;
    font-weight: 600;
    object-fit: contain;
    border-radius: 8px;
    border: solid 0 #{$grey};
    background-color: #{$white};
    cursor: pointer;
}

.white-form-option-box-selected {
    border: solid 1 #{$orange};
}
/*=====  FLEX BOX ====*/

/*================== FOR LARGE SCREENS ==================*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .white-form-option-box {
        min-width: 220px;
        max-width: 220px;
    }
    .container{
        max-width: 760px;
        min-width: 760px;
    }
    .form-group{
        .valid_input_icon{
            right: 12px !important;
            top: 2.4rem;
        }
    }
}
/*================== FOR LARGE SCREENS ==================*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    // FOR SMALL DEVICES
    .container{
        max-width: 760px;
        min-width: 760px;
    }
    .d-flex {
        flex-direction: row !important;
    }
    .white-form-option-box {
        min-width: 98%;
        max-width: 98%;
        align-items: center;
    }
    .form-group{
        .input-field{
            width: 98% !important;
        }
        .valid_input_icon{
            position: fixed;
            //right: 20px !important;
            top: 2.4rem;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .d-flex {
        flex-direction: row !important;
    }
    .white-form-option-box {
        min-width: 98%;
        max-width: 98%;
        align-items: center;
    }
    .form-group{
        .input-field{
            width: 98% !important;
        }
        .valid_input_icon{
            position: fixed;
            right: 12px !important;
            top: 2.4rem;
        }
    }
}

/*============== SMALL SCREEN =========*/
@media only screen and (max-width: 600px) {
    // FOR SMALL DEVICES
    .container{
        max-width: 100% !important;
        min-width: 100% !important;
    }
    .d-flex {
        flex-direction: row !important;
    }
    .white-form-option-box {
        min-width: 98%;
        max-width: 98%;
        align-items: center;
    }
    .form-group{
        min-width: 98%;
        .input-field{
            width: 98% !important;
        }
        .valid_input_icon{
            position: fixed;
            right: 12px !important;
            top: 2.3rem;
        }
    }

}
/*============== SMALL SCREEN =========*/

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}

/*============= FORM ELEMENTS ==============*/

.form-group{
    text-align: left;
    padding: 0.5rem;
    position: relative;
    label {
        padding-left: 0.5rem;
        font-size: 13px;
    }
    .input-field {
        padding: 15px 25px;
        box-sizing: border-box;
        border-radius: 10px;
        width: 300px;
        height: 61px;
        margin: 0.2rem;
        display: block;
        font-size: 17px;
        font-weight: 600;
        color: #{$dark-blue};
    }
    .prepend_label{
        position: absolute;
        top: 3.5rem;
        left: 1.5rem;
        font-size: 15px;
        color: #{$grey};
        font-weight: bold;
    }
    .valid_input_icon{
        position: absolute;
        background-image: url('~@/assets/valid-input-combined-shape.png');
        background-repeat: no-repeat;
        right: 16px;
        border-radius: 0px 8px;
        color: #{$orange};
        padding-right: 0.2rem;
        padding-top: 0;
        padding-left: 0.3rem;
        text-align: right;
    }
    .valid_input_icon img{
        width: 12px;
        height: 12px;
        object-fit: contain;
    }
    
}
// .custom_checkbox{
//     position: absolute;
//     height: 0;
//     width: 0;
//     cursor: pointer;
//     opacity: 0;
// }
// .checkmark {
//     display: inline-block;
//     height: 20px;
//     width: 20px;
//     border: 1px solid #{$white};
//     border-radius: 5px;
//     margin: 0.7rem;
//     cursor: pointer;
// }
[type="checkbox"]:not(:checked){
        height: 20px;
        width: 20px;
        background-color: #{$dark-blue};
    }
[type="checkbox"]:checked {
    height: 20px;
    width: 20px;
    border: red;
    background-color: #{$white};
}
/*============= FORM ELEMENTS ==============*/

/*======== STEP BY STEP PROGRESS ======*/
.step-progressbar {
    list-style: none;
    display: flex;
    padding: 0;

    li.active:before {
        border-color: #55b776;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-align: center;
      position: relative;
  
      &:before {
        width: 5px;
        height: 5px;
        content: '';
        align-self: center;
        background: #{$dark-blue};
        border: 3px solid #{$grey};
        color: #{$white};
        border-radius: 100%;
        margin-bottom: 0.25em;
      }
  
      &:after {
        height: 4px;
        width: calc(100% - 0.5em);
        content: '';
        background: #{$grey};
        position: absolute;
        top: 0.25em;
        left: calc(50% + 0.25em);
      }
  
      &:last-child {
        &:after {
          content: none;
        }
      }
  
      &--active {
        &:before {
          background: #{$white};
          border: solid #{$orange};
        }
        // &:after {
        //     //border: 1px solid #{$orange};
        //     //background: #{$orange};
        // }
      }
  
      &--complete {
        &:before {
          content: '';
          background-color: #{$orange};
          border: solid #{$orange};
        }
        
        &:after {
            background: #{$orange};
            //border: 1px solid #{$orange};
          }
      }
    }
  }
/*======== STEP BY STEP PROGRESS ======*/


#app{
    text-align: center;
    height: 100vh;
    display: flex;
}

.container{
    margin: auto;
    // max-width: 760px;
    // min-width: 760px;
    height: 100vh;
}

/*========= GOOGLE BUTTON =========*/
.google_btn{
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    max-height: 74px;
    width: 300px;
    margin: 0 auto;
    text-align: center;

    .logo_section{
        text-align: center;
        background-color: #{$white};
        border-radius: 8px 0px 0px 8px;
        border: 1px solid #{$white};
        padding: 1px;
    }
    .blue_section{
        text-align: center;
        background-color: #{$blue};
        border-radius: 0px 8px 8px 0px;
        border: 1px solid #{$blue};
        padding: 4px;
        max-height: 74px;
        max-width: 199px;
        font-size: 13px;

        p {
            margin: 1rem;
        }
    }
}
/*========= GOOGLE BUTTON =========*/

/*======= MODAL ==========*/
.popup-modal{
    background-color:rgba(9, 25, 43, 0.8);
    position: relative;
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;


    .popup-text-section{
        position: relative;
        margin: auto;
        z-index: 41;
        border-radius: 13px;
        max-width: 640px;
        min-width: 640px;
        height: 380px;

    }
}
/*======= MODAL ==========*/

/*====== STAR RATING ====*/
.star-rating:hover{
    cursor: pointer;
}
/*====== STAR RATING ====*/

